<div class="bg-dark">
    <div class="container bg-light px-md-5 py-3">

        <div class="display-4 text-center pb-3">About us</div>

        <div class="card">
            <div class="row g-0">
                <div class="col-lg-7">
                    <h2 class="card-header">Our Goals</h2>
                    <div class="card-body">
                        
                        <p class="card-text">
                            With recent supply shortages, the value of vehicles has gone through the roof. Our main goal is to help you capitalize on this opportunity.
                        </p>
                        <p class="card-text">
                            We want to make the process of selling your car as painless and hassle-free as possible. We don't need you to fill out tons of forms or wait on hold forever to sell your car. The quicker we buy your car, the better! 
                        </p>
                        <p class="card-text">
                            Unlike a dealership, our goal isn't to get you to buy something else. We want there to be as little pressure as possible for you.
                        </p>
                    </div>
                </div>

                <div class="col-lg-5">
                    <img class="img-fluid rounded" src="../../assets/car-small.jpg" alt="Car">
                </div>
            </div>
        </div>

        <div class="card my-5">
            <div class="row g-0">
                <div class="col-lg-5 order-2 order-lg-1">
                    <img class="img-fluid rounded" src="../../assets/truck-small.jpg" alt="Truck">
                </div>
                <div class="col-lg-7 order-1 order-lg-2">
                    <h2 class="card-header">Who are we?</h2>
                    <div class="card-body">
                        
                        <p class="card-text">
                            Car Truck Buyer is a brand new company made in partnership with the <a class="card-link" href="https://holidayautogroup.com">Holiday Auto Group</a> in Whitesboro, Texas.
                        </p>
                        <p class="card-text">
                            We noticed dealerships were struggling to keep inventory on their lots, and a lot of consumers who didn't need their vehicles anymore.
                        </p>
                        <p class="card-text">
                            This is where the idea of Car Truck Buyer came along. We could facilitate the buying of vehicles without the consumer feeling like they were being pressured by a dealership.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-auto pt-3 mb-0 mb-sm-5">
            <div class="display-4 text-center mb-3 mb-sm-5">Easy as 1,2,3!</div>
            <div class="col-md mb-3 mb-md-0">
              <div class="row">
                <div class="col-4">
                  <img src="../../assets/OneBadge.png" alt="Step 1" class="img-fluid">
                </div>
                <div class="col-8 my-auto">
                  <h3 class="d-none d-lg-block">Submit the form</h3>
                  <h4 class="d-block d-lg-none text-center">Submit the form</h4>
                </div>
              </div>
            </div>
      
            <div class="col-md mb-3 mb-md-0">
              <div class="row">
                <div class="col-4">
                  <img src="../../assets/TwoBadge.png" alt="Step 2" class="img-fluid">
                </div>
                <div class="col-8 my-auto">
                  <h3 class="d-none d-lg-block">Receive a quote</h3>
                  <h4 class="d-block d-lg-none text-center">Receive a quote</h4>
                </div>
              </div>
            </div>
      
            <div class="col-md mb-3 mb-md-0">
              <div class="row">
                <div class="col-4">
                  <img src="../../assets/ThreeBadge.png" alt="Step 3" class="img-fluid">
                </div>
                <div class="col-8 my-auto">
                  <h3 class="d-none d-lg-block">We buy your car!</h3>
                  <h4 class="d-block d-lg-none text-center">We buy your car!</h4>
                </div>
              </div>
            </div>
      
          </div>

    </div>
</div>

