.bg-img{
    background-image: url('../../assets/CTB-Home.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@media (max-width: 1440px) {
    .bg-img {
        background-image: url('../../assets/CTB-Vertical.jpg');
        background-size: 100% auto;
    }
}

.home-container {
    margin-top: 1rem;
}

@media (min-width: 1200px){
    .home-container {
        margin-top: 16vh;
    }
}


